.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

hackatalk-website/translated_docs
hackatalk-website/build/
hackatalk-website/yarn.lock
hackatalk-website/node_modules
hackatalk-website/i18n/*
